<div class="container">

  <ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
  <nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="user/create" class="nav-link" routerLinkActive="active">
            Create Customer
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="users" class="nav-link" routerLinkActive="active">
            Customers
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>